.selectNative,
.selectCustom {
  position: relative;
}

.selectCustom {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 20;
}

.isActive {
  color: white;
  background-color: #2d86b6;
}

@media (hover: hover) {
  .selectNative:focus + .selectCustom {
    display: none;
  }
  .selectCustom {
    display: block;
  }
}
